#img.caption
{
 width:400px; 
}
#image
{
  max-width:100%;
  height:auto;
  display:block;
}
#img-caption
{
  font-size:25px;
}
#tribute-info
{
  font-size:20px;
}
#awards
{
  font-size:20px;
}
#a
{
  font-size:20px;
}
.video-wrapper-1
{
  height:300px;
  width:525px;
  display:inline-block
}
.video-wrapper-2
{
  height:300px;
  width:525px;
  display:inline-block
}
.video-wrapper-3
{
  height:300px;
  width:525px;
  display:inline-block
}
.video-wrapper-4
{
  height:300px;
  width:525px;
  display:inline-block
}